.header {
  display: block;
  min-height: 20vh;
  background-color: $hot-dark;
  text-align: center;
  margin-bottom: 10vh;

  h1 {
    padding-top: 40px;
    font-size: 3rem;
    color: $pale-white;
  }
}