.header {
  width: 100vw;
  height: 120px;
  background-color: $hot-dark;
  color: $pale-white;
  list-style-type: none;
  padding: 40px;

  span {
    margin-right: 20%;

    a {
      text-decoration: none;
      text-transform: capitalize;
      font-size: 23px;
      cursor: pointer;
      transition-duration: 0.3s;
    }

    a:hover {
      opacity: 0.7;
      transition-duration: 0.3s;
    }
  }
}